@import "/src/styles/main";

.shadowWrapper {
    padding-bottom: 0.1rem;
    background-color: $white;
    z-index: 10;
    position: fixed;
    width: 100%;

    .container {
        background-color: $white;
        height: 3.5rem;
        display: flex;
        align-items: center;
        box-shadow: $shadow-white-out;
        gap: 2rem;
        font-size: $font-size-18;

        &>* {
            flex-shrink: 0;
        }

        .companyNameWrap {
            height: 2.7rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .companyName {
                font-family: $font-family-logo;
                font-size: $font-size-32;
                line-height: 1;
                margin-top: 0.3rem;
            }

            .logo {
                height: 100%;
            }
        }

        .phoneNumberFilled {
            @include blueBackgroundRounded($padLeft: 0.7em);
            box-shadow: $shadow-white-out
        }



        .navLinksWrap {
            @include dfc;
            gap: 2rem;
            margin-left: auto;
        }

        .switch {
            margin-right: 2rem;
        }

        .hamburger {
            @include dfc;
            margin-left: auto;
            margin-right: 2rem;
            display: none;
            cursor: pointer;
            width: 35px;
            height: 35px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .mobileMenuWrap {
            position: absolute;
            right: 0.2rem;
            top: 3.1rem;
            width: 15rem;
            @include animationSlideCenterToLeft;

            &.opened {
                @include animationSlideCenterToRight;
            }
        }
    }
}

@include laptop {
    .shadowWrapper {
        .container {
            height: 3rem;
            gap: 1rem;
            font-size: $font-size-14;

            .companyNameWrap {
                height: 2.2rem;
                margin-left: 0.5rem;

                .companyName {
                    font-size: $font-size-26;
                    margin-top: 0.4rem;
                }
            }

            .navLinksWrap {
                gap: 1rem;
            }

            .switch {
                margin-right: 0.8rem;
            }
        }
    }
}

@include tablet {
    .shadowWrapper {
        .container {
            font-size: $font-size-16;

            .phoneNumberFilled {
                @include blueBackgroundRounded ($padTop: 0.3em, $padRight: 0.8em, $padBottom: 0.3em, $padLeft: 0.5em)
            }

            .navLinksWrap {
                display: none;
            }

            .switch {
                display: none;
            }

            .hamburger {
                display: block;
            }
        }
    }
}

@include lowTablet {
    .shadowWrapper {
        .container {
            height: 4.5rem;

            .companyNameWrap {
                margin-left: 0.4rem;

                .logo {
                    height: 3rem;
                }

                .namePhoneWrap {
                    .companyName {
                        font-size: $font-size-20;
                    }

                    .phoneNumberPlain {
                        font-size: $font-size-20;
                        color: $blue;
                        font-weight: 600;
                    }
                }
            }

            .hamburger {
                width: 40px;
                height: 40px;
                margin-right: 1rem;
            }

            .mobileMenuWrap {
                top: 4.6rem;
            }
        }
    }
}

@include mobile {
    .shadowWrapper {
        .container {
            .mobileMenuWrap {
                width: 80%;
            }
        }
    }
}