@import "/src/styles/main";

.container {
    padding: 3.5rem 0;
    background-color: $grey;
    color: $white;
    position: relative;
    isolation: isolate;
    overflow: hidden;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $grey;
        background-image: url("/services/vertical-blue-wave.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.style1::after {
        background-position: right top;
    }

    &.style2::after {
        transform: scaleY(-1);
    }

    &.style3::after {
        transform: scaleX(-1);
        background-position: right top;
    }

    &.style4::after {
        transform: scale(-1, -1);
    }

    .mainContent {
        width: $content-width-main;
        background-color: $grey;
        border: 2px solid $light-blue;
        margin: 6rem auto 0 auto;
        padding: 0rem 2.5rem 2.5rem 2.5rem;
        position: relative;

        .illustration {
            position: absolute;
            width: 35%;
            padding: 2rem;
            border: 2px solid $light-blue;
            top: -4rem;
            right: 4%;
            z-index: 1;
            background-color: $grey;
            @include transitionSlideLeft(25%);
        }

        .mainHeader {
            font-size: $font-size-28;
            color: $light-blue;
            position: relative;
            width: 50%;
            border: 2px solid $light-blue;
            bottom: 1rem;
            padding: 0.5em;
            text-align: center;
            z-index: 1;
            background-color: $grey;
            @include transitionSlideRight(25%);
        }

        .description {
            margin: 1rem 0;
            font-size: $font-size-18;
            width: 50%;
        }

        .contactsCard {
            margin: 1rem auto;
            width: 60%;
            border: 2px dashed $light-blue;
            padding: 1.5rem;

            @include transitionScaleUp(80%, 1.5s);

            .contactsHeader {
                text-align: center;
                margin-bottom: 1rem;
                font-size: $font-size-24;
                font-weight: 900;
            }

            .contactsWrap {
                @include dfc;
                justify-content: space-evenly;
                flex-wrap: wrap;
                gap: 1rem;

                .phoneNumber {
                    font-size: $font-size-22;
                    font-weight: 900;
                    text-shadow: $text-shadow-outline-1;

                    &.underlined {
                        border-bottom: 2px solid $light-blue;
                    }

                    a {
                        text-decoration: none;
                        color: $light-blue;
                    }
                }

                .emailBtn {
                    font-size: $font-size-22;
                    @include blueBackgroundRounded;
                    width: 45%;
                    min-width: fit-content;
                    text-align: center;
                    font-weight: 900;
                    transition: background-color 0.2s linear;
                    border: 2px solid $blue;
                    cursor: pointer;

                    button {
                        background-color: inherit;
                        color: inherit;
                        font-weight: inherit;
                        font-size: inherit;
                    }

                    &:hover {
                        background-color: $grey;
                    }
                }
            }
        }

        .otherServicesLink {
            font-size: $font-size-22;
            width: fit-content;
            margin: 0 auto;
            @include dfc;
            gap: 1rem;
            color: rgb(254, 121, 134);
            text-decoration: underline;
            transition: filter 0.2s linear;

            &:hover {
                filter: brightness(130%);
            }
        }
    }

    strong {
        color: $light-blue;
    }
}

@include laptop {
    .container {
        .mainContent {
            width: 1200px;
            max-width: 95%;
            padding: 0rem 2rem 3rem 2rem;

            .illustration {
                padding: 1rem;
                width: 38%;
            }

            .mainHeader {
                font-size: $font-size-22;
            }

            .description {
                font-size: $font-size-16;
            }

            .contactsCard {
                .contactsWrap {
                    .phoneNumber {
                        font-size: $font-size-18;
                    }

                    .emailBtn {
                        font-size: $font-size-18;
                    }
                }
            }
        }
    }
}

@include tablet {
    .container {
        padding: 2rem 0 1rem 0;

        .mainContent {
            margin: 3rem auto 0 auto;
            padding: 0 2rem 2rem 2rem;

            .illustration {
                position: relative;
                width: 30rem;
                margin: 1rem auto;
                top: -0.5rem;
                right: 0;
                left: 0;
                padding: 0;
            }

            .mainHeader {
                width: 100%;
            }

            .description {
                width: 100%;
                margin: 0;
            }

            .contactsCard {
                width: 30rem;
                padding: 1rem;

                .contactsHeader {
                    font-size: $font-size-18;
                }

                .contactsWrap {
                    .phoneNumber {
                        font-size: $font-size-16;
                        text-shadow: none;
                    }

                    .emailBtn {
                        font-size: $font-size-16;
                    }
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        padding: 3.5rem 0 1rem 0;

        .mainContent {
            padding: 0 1rem 2rem 1rem;

            .illustration {
                width: 20rem;
            }

            .description {
                margin-bottom: 0.5rem;
            }

            .contactsCard {
                width: 95%;
            }
        }
    }
}

@include mobile {
    .container {
        .mainContent {
            .illustration {
                width: 15rem;
            }
        }

        .contactsCard {
            width: 100%;
        }
    }
}