@import "/src/styles/main";

.container {
    color: $white;
    overflow-x: hidden;
    background: rgb(12, 19, 25);
    background: linear-gradient(90deg, rgba(12, 19, 25, 1) 0%,
            rgba(12, 19, 25, 1) 16%,
            rgba(51, 61, 70, 1) 33%,
            rgba(67, 86, 93, 1) 45%,
            rgba(35, 50, 57, 1) 75%,
            rgba(16, 21, 27, 1) 100%);

    .mainContent {
        .illustration {
            width: 100%;
        }

        // .illustrationSmall {
        //     display: none;
        // }

        .listLimit {
            max-width: $content-width-main;
            position: relative;
            margin: 0 auto;

            .ourServicesList {
                width: 22rem;
                z-index: 1;
                position: absolute;
                top: 2rem;
                left: 2%;
                font-size: $font-size-18;
                padding: 1.5em;
                border-right: 1px solid $white;
                border-left: 1px solid $white;
                display: flex;
                flex-direction: column;
                gap: 1em;
                @include transitionSlideRight;

                li {
                    line-height: 1.3;
                    position: relative;
                    padding-left: 1.7em;

                    &::before {
                        content: ' ';
                        background-image: url("/icons/polygon-icon.png");
                        position: absolute;
                        height: 1em;
                        width: 1em;
                        left: 0;
                        top: 2px;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@include laptop {
    .container {
        .mainContent {
            .listLimit {
                .ourServicesList {
                    width: 24%;
                    top: 1.5rem;
                    left: 10%;
                    font-size: $font-size-14;
                }
            }
        }
    }
}

@include tablet {
    .container {
        background: rgb(0, 6, 20);
        background: linear-gradient(180deg, rgba(0, 6, 20, 1) 0%, rgba(13, 21, 35, 1) 81%, rgba(50, 57, 65, 1) 100%);

        .mainContent {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 1rem 0;

            // .illustrationLarge {
            //     display: none;
            // }

            // .illustrationSmall {
            //     display: block;
            //     width: 80%;
            //     align-self: center;
            //     padding: 1rem;
            // }
            .illustration {
                display: block;
                width: 80%;
                align-self: center;
                padding: 1rem;
            }



            .listLimit {
                align-self: center;
                width: 90%;
                margin: 0 0 0 auto;

                .ourServicesList {
                    width: 100%;
                    position: static;
                    font-size: $font-size-16;
                    border: none;
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        .mainContent {
            @include dfcc;
            flex-direction: column-reverse;
            overflow: hidden;

            // .illustrationSmall {
            //     width: 20rem;
            //     max-width: 95%;
            //     @include transitionSlideDown;
            // }
            .illustration {
                width: 20rem;
                max-width: 95%;
                @include transitionSlideDown;
            }

            .listLimit {
                margin: 0 auto;
                width: 80%;

                .ourServicesList {
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    transform: translateX(0rem);

                    li {
                        flex-shrink: 0;
                        text-wrap: stable;
                    }
                }
            }
        }
    }
}


@include mobile {
    .container {
        .mainContent {
            .listLimit {
                .ourServicesList {
                    flex-direction: column;

                    li {
                        flex-shrink: 1;
                    }
                }
            }
        }
    }
}