@import "/src/styles/main";

.link {
    text-decoration: none;
}

.contactTitle {
    font-weight: 700;
    margin-right: 0.5rem;
}

.blueUnderlined {
    border-bottom: 2px solid $blue;
    cursor: pointer;
    color: $blue;
}