@import "../../../styles/main";

.container {
    background-color: $white;
    background-image: url("../../../../public/pngwing.com (25).png");
    background-size: cover;
    height: 72rem;

    h2 {
        font-size: $font-size-header-l;
        font-family: $font-family-mono;
        margin: 3rem auto;
        width: 60%;
        text-align: center;
        font-weight: 900;
        box-shadow: $shadow-white-in;
        padding: 1rem 0;
        border-radius: 15px;

        .accent {
            color: $blue;
            margin: 0 1rem;
            font-size: 34px;
        }
    }

    .cardBorder {
        background-color: $white;
        width: 55rem;
        height: 55rem;
        border: 1px solid $blue;
        padding: 3rem;
        margin: 0 auto;

        .card {
            width: 100%;
            height: 100%;
            box-shadow: $shadow-white-out;
            position: relative;
            border-radius: 15px;
            @include dfc;
            flex-wrap: wrap;

            .link {
                width: 50%;
                height: 50%;
                padding: 1.5rem;
                @include dfcc;
                color: $blue;

                .linkImg {
                    height: 85%;
                    filter: grayscale(100%);
                    transition: filter 0.3s ease-in;

                    &:hover {
                        filter: grayscale(0%);
                    }
                }

                .name {
                    font-size: $font-size-header-m;
                    font-weight: 900;
                    margin: 0.7rem 0 0 0;
                    @include dfc;

                    svg {
                        margin-left: 0.5rem;
                    }
                }
            }

            .horizontalSeparator {
                @include horizontalSeparator;
                width: 100%;
                top: 49%;
                position: absolute;
            }

            .verticalSeparator {
                @include verticalSeparator;
                left: 50%;
                height: 100%;
                position: absolute;
            }
        }
    }
}