@import "/src/styles/main";

.container {
    width: fit-content;
    text-align: center;
    max-width: 100%;

    .title {
        color: $light-blue;
        margin-bottom: 0.7rem;
    }

    .scrollWrapper {
        overflow-x: auto;

        .table {
            border-collapse: collapse;
            border: 1px solid $white;
            font-size: $font-size-16;

            .head {
                background-color: $white;
                color: $black;
                padding: 0.5em 1em;


                &+.head {
                    border-left: 1px solid $black;
                }
            }

            .body {
                tr:nth-of-type(even) {
                    background-color: rgba(255, 255, 255, 0.083);
                }

                .cell {
                    border: 1px solid $white;
                    padding: 0.5em 1em;

                    &:first-of-type {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        .scrollWrapper {
            &::-webkit-scrollbar {
                height: 0.4rem;
                width: 0.4rem;
            }

            &::-webkit-scrollbar-track {
                background: grey;
            }

            &::-webkit-scrollbar-thumb {
                background: $blue;
                border-radius: 15px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $light-blue;
            }

            .table {
                line-height: 1.1;

                .head {
                    padding: 0.5em;
                }

                .body {
                    .cell {
                        padding: 0.5em;
                    }
                }
            }
        }
    }
}