@import "/src/styles/main";

.container {
    @include whiteCard($pad: 0 1rem 1rem 1rem, $borderRad: 10px);
    width: 100%;

    .headerWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s linear;
        padding-top: 1rem;

        .header {
            cursor: pointer;
            width: 100%;
            margin-right: 1rem;
            font-size: $font-size-20;
        }

        .button {
            @include dfc;
            color: $blue;
            @include whiteCard($pad: 0.5rem, $borderRad: 100%);
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;

            .chevron,
            .cross {
                transition: all 0.4s linear;
                position: absolute;
                font-size: $font-size-24;
            }

            .chevron {
                transform: scale(1);
            }

            .cross {
                transform: scale(0);
            }
        }
    }

    .textWrap {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.4s ease-in;
        justify-items: stretch;

        .text {
            overflow: hidden;

            p {
                font-size: $font-size-18;

                &+p {
                    margin-top: 1rem;
                }
            }
        }
    }

    &.opened {
        .headerWrap {
            padding-bottom: 1rem;
        }

        .textWrap {
            grid-template-rows: 1fr;
        }

        .button {
            .chevron {
                transform: scale(0);
            }

            .cross {
                transform: scale(1);
            }
        }
    }

    em {
        font-style: italic;
    }
}

@include laptop {
    .container {
        .headerWrap {
            .header {
                font-size: $font-size-20;
            }
        }

        .textWrap {
            .text {
                p {
                    font-size: $font-size-16;
                }
            }
        }
    }
}

@include tablet {
    .container {
        .headerWrap {
            .header {
                font-size: $font-size-18;
            }
        }
    }
}