@import "/src/styles/main";

.container {
    padding-top: 3.5rem;

    .illustration {
        width: 100%;
        transform: translateY(-100%);
        transition: all 1.7s ease-in-out;
    }

    &.animated {
        .illustration {
            transform: translateY(0%);
        }
    }

    h1 {
        text-align: center;
        padding: 1em 0 0.5em 0;

        span {
            @include verticalBlueDecoration;
        }
    }


    .contactsCard {
        margin: 0 auto;
        margin-top: 1.5rem;
        max-width: 1200px;
    }
}