@import "/src/styles/main";

.container {
    padding: 3.5rem 0 2rem 0;
    overflow: hidden;

    .illustration {
        width: 100%;
        transform: translateY(-100%);
        transition: all 1.7s ease-in-out;
    }

    &.animated {
        .illustration {
            transform: translateY(0%);
        }
    }

    h1 {
        text-align: center;
        padding: 1em 0;

        span {
            @include verticalBlueDecoration;
        }
    }

    .contactsCard {
        margin: 0 auto;
        width: 1000px;
        max-width: 90%;
    }
}

@include laptop {
    .container {
        padding-top: 3rem;
    }
}

@include tablet {
    .container {
        .contactsCard {
            max-width: 85%;
        }
    }
}

@include lowTablet {
    .container {
        padding-top: 4.5rem;

        h1 {
            span {
                display: none;
            }
        }

        .contactsCard {
            max-width: 93%;
        }
    }
}

@include mobile {
    .container {
        .illustration {
            height: 10rem;
            width: auto;
            position: relative;
            left: -4rem;
        }
    }
}