@import "/src/styles/main";

.container {
    padding-top: 3.5rem;
    background-image: url("/works-faq/scattered-forms.jpeg");
    background-size: 100vw;

    @include backgroundMask($backgroundColor: $white, $maskOpacity: 20%);

    .outline {
        padding: 0.1rem;
        background-color: $white;
        max-width: $content-width;
        margin: 0 auto;
        border-radius: 15px;

        .mainWrap {

            min-height: 95vh;
            @include whiteCard($pad: 3rem, $borderRad: 10px);

            .mainHeader {
                padding-bottom: 1.5em;
                text-align: center;

                span {
                    @include verticalBlueDecoration;
                }
            }

            .cardsGroup {
                @include dfcc;
                gap: 3rem;
                transition: all 0.7s ease-in-out;

                .card {
                    margin-bottom: 1rem;
                }

                &.animated {
                    gap: 0rem;
                }
            }
        }
    }
}