@import "../main";


.container {
    // margin-top: 10rem;
    // margin: 0;
    padding-top: 4.5rem;
    position: relative;

    // width: 100%;

    .backphoto1 {
        width: 100%;
        position: absolute;
        top: 22rem;
        // right: 3%;
        // border: 0.2rem solid $white;
        // border-radius: 15px;
        // border: 2px solid $black;

    }

    .brand {
        @include dfcc;
        align-items: flex-start;
        z-index: 1;
        position: relative;
        width: 100%;
        background: rgb(16, 23, 32);
        background: linear-gradient(90deg, rgba(16, 23, 32, 1) 0%, rgba(20, 25, 31, 1) 11%, rgba(51, 61, 70, 1) 25%, rgba(76, 91, 98, 1) 35%, rgba(51, 70, 77, 1) 57%, rgba(14, 19, 25, 1) 100%);

        border-bottom: 1px solid white;

        text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;

        h1 {
            font-family: $font-family-logo;
            line-height: 1;
            // color: $orange;
            // margin: 0 20rem 0 0;
            margin: 0;
            font-size: 150px;
            margin: 2rem 4rem 0 4rem;
            text-align: left;
            // width: 100%;

            color: $white;

        }

        // .descriptionBackground {
        //     padding: 1rem;
        //     background-color: $blue;
        //     width: 30rem;
        //     border-radius: 10px;

        // .descriptionCard {
        //     // position: absolute;
        //     // z-index: 1;
        //     right: 5rem;
        //     bottom: -3rem;
        //     padding: 1rem;
        //     background-color: #08b3bc;


        //     border-radius: 10px;
        //     text-align: center;
        //     box-shadow: $shadow-blue-out;
        //     // color: $blue;


        .description {
            font-size: 50px;
            font-weight: 600;
            margin: 0 auto 2rem 12rem;
            color: $white;
            // position: absolute;

            // padding: 4rem;
            color: $blue;
            // background-color: red;
            // margin-top: 5rem;
            // position: relative;
        }

        //     }
        // }



    }



    .descriptionBox {
        width: 30rem;
        margin-left: 8rem;
        z-index: 1;
        position: relative;

        padding: 2rem;
        // border: 0.2rem solid black;

        // outline: 1rem solid $beige;

        h2 {
            margin: 0 0 2rem 0;
            font-size: 32px;
            text-align: center;
        }

        ul {
            font-size: 24px;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                line-height: 1.5;

            }
        }
    }
}