@import "../_main.scss";

.container {
    padding-top: 3.5rem;
    background-color: $grey;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    @include dfcc;
    color: $white;

    h1 {
        margin-bottom: 3rem;
    }

    .illustrationLeft,
    .illustrationRight {
        height: 100%;
        position: absolute;
        top: 0;
    }

    .illustrationLeft {
        transition: right 1.2s ease-in-out;
        right: 56.5%;

        &.animated {
            right: 73.5%;
        }
    }

    .illustrationRight {
        transition: left 1.2s ease-in-out;
        left: 43.5%;

        &.animated {
            left: 73.5%;
        }
    }

    .linksWrap {
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        width: fit-content;

        .link {
            padding: 1.5em 4em;
            font-size: $font-size-22;
            display: flex;
            align-items: center;
            gap: 2rem;
            background-color: $grey;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                filter: brightness(110%);
            }

            img {
                width: 5rem;
                display: inline;
            }
        }

        li+li {
            border-top: 2px solid $white;
        }
    }

    // button {
    //     position: absolute;
    // }

}