@import "/src/styles/main";

$border: 2px solid $white;

.container {
    padding-top: 3.5rem;
    overflow: hidden;
    height: 100vh;
    position: relative;
    @include dfc;
    color: $white;
    background-color: #313E45;

    .content {
        @include dfcc;
        width: 30%;
        background-color: #313e45f5;

        h1 {
            border-right: $border;
            width: 100%;
            text-align: center;
            font-size: $font-size-24;
            padding: 0.7rem 0 1.2rem 0;
            margin-top: 2rem;
            color: $light-blue;
        }

        .linksWrap {
            border-top: $border;
            border-bottom: $border;
            width: 100%;

            li {

                &+li {
                    border-top: $border;
                }

                &:nth-child(odd) {
                    border-left: $border;
                }

                &:nth-child(even) {
                    border-right: $border;
                }

                .link {
                    padding: 1.7rem;
                    font-size: $font-size-22;
                    cursor: pointer;
                    @include dfc;
                    justify-content: space-between;
                    width: 80%;
                    margin: 0 auto;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: drop-shadow(0px 0px 12px $light-blue);
                    }

                    img {
                        transition: all 0.3s ease;
                        width: 3.8rem;
                        display: inline;
                    }
                }
            }
        }

        .adding {
            height: 3rem;
            border-left: $border;
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .illustrationLeft,
    .illustrationRight {
        height: 100vh;
        position: absolute;
        border: $border;
    }

    .illustrationLeft {
        transition: right 1.2s ease-in-out;
        right: 83%;

        &.animated {
            right: 73%;
        }
    }

    .illustrationRight {
        transition: left 1.2s ease-in-out;
        left: 83%;

        &.animated {
            left: 73%;
        }
    }
}

@include laptop {
    .container {
        .content {
            width: 28%;

            h1 {
                font-size: $font-size-20;
            }

            .linksWrap {
                li {
                    .link {
                        width: 85%;
                        font-size: $font-size-18;
                        padding: 1.2rem;

                        img {
                            width: 2.8rem;
                        }
                    }
                }
            }
        }
    }
}

@include lowLaptop {
    .container {
        .content {
            width: 32%;

            h1 {
                font-size: $font-size-18;
                padding: 0.5rem 0 0.8rem 0;
            }

            .linksWrap {
                li {
                    .link {
                        font-size: $font-size-16;
                        padding: 1rem;

                        img {
                            width: 2rem;
                        }
                    }
                }
            }

            .adding {
                height: 2rem;
            }
        }
    }
}

@include tablet {
    .container {
        background-image: url("/services/vbnhjmjmjk.jpeg");
        background-position: center;

        .illustrationLeft,
        .illustrationRight {
            display: none;
        }

        .content {
            width: 90%;
            height: 90%;
            border: $border;

            h1 {
                width: 60%;
                padding: 0.7rem 0 1.2rem 0;
            }

            .linksWrap {
                width: 60%;

                li {

                    &:nth-child(odd) {
                        @include transitionSlideLeft(25%);
                    }

                    &:nth-child(even) {
                        @include transitionSlideRight(25%);
                    }

                    .link {
                        img {
                            width: 3rem;
                        }
                    }
                }
            }

            .adding {
                width: 60%;
            }
        }
    }
}

@include lowTablet {
    .container {
        .content {
            width: 100%;
            height: 100%;
            background-color: #313e45e3;
            padding: 2rem;

            h1 {
                width: 32rem;
                max-width: 100%;
            }

            .linksWrap {
                width: 32rem;
                max-width: 100%;
            }

            .adding {
                width: 32rem;
                max-width: 100%;
            }
        }
    }
}

@include mobile {
    .container {
        .content {
            .linksWrap {
                li {
                    .link {
                        img {
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }
}