@import "/src/styles/main";


.container {
    padding-top: 3.5rem;
    background-image: url("/works-faq/scattered-forms.jpeg");
    background-size: contain;
    // background-repeat: no-repeat;

    @include dfc;
    // position: relative;
    @include backgroundMask($backgroundColor: $white, $maskOpacity: 20%);



    .outline {
        max-width: $content-width-L;
        background-color: $white;
        border-radius: 10px;
        padding: 0.15rem;


        .mainCard {
            margin: 0 auto;
            @include whiteCard($pad: 3rem, $borderRad: 15px);

            h1 {
                text-align: center;

                span {
                    @include verticalBlueDecoration;
                }
            }

            .caption {
                font-size: $font-size-22;
                text-align: center;
                padding: 1.5rem 0;
                @include dfc;

                a {
                    color: $blue;
                    @include dfc;
                    margin: 0 0.5em;

                    svg {
                        margin: 0 0.5em
                    }
                }
            }

            .cardsWrap {
                @include dfc;
                gap: 4rem;
                flex-wrap: wrap;
                transition: all 0.7s ease-in-out;
                transform: translateY(3rem);

                .card {
                    @include whiteCard($pad: 1rem, $borderRad: 10px);
                    width: 30%;
                    height: 25rem;
                    @include dfc;


                    img {
                        width: 90%;
                    }
                }

                &.animated {
                    gap: 3rem;
                    transform: translateY(0rem);
                }
            }
        }
    }
}