@import "/src/styles/main";

.container {
    padding-top: 3.5rem;
    background-image: url("/works-faq/scattered-forms.jpeg");
    background-size: contain;
    @include dfc;
    @include backgroundMask($backgroundColor: $white, $maskOpacity: 20%);

    .outline {
        max-width: 1200px;
        background-color: $white;
        border-radius: 10px;
        padding: 0.15rem;

        .contentWrap {
            @include whiteCard($pad: 2rem, $borderRad: 15px);

            h1 {
                text-align: center;
                font-size: $font-size-24;

                span {
                    @include verticalBlueDecoration;
                }
            }

            .caption {
                font-size: $font-size-20;
                text-align: center;
                padding: 1.5rem 0;
                @include dfc;

                a {
                    color: $blue;
                    @include dfc;
                    margin-left: 0.5em;

                    svg {
                        margin-left: 0.5em
                    }
                }
            }

            .cardsWrap {
                @include dfc;
                gap: 2rem;
                flex-wrap: wrap;
                transition: all 0.7s ease-in-out;
                transform: translateY(3rem);


                .card {
                    @include whiteCard($pad: 0rem, $borderRad: 10px);
                    width: 22%;
                    height: 15rem;
                    @include dfc;
                    flex-shrink: 0;

                    .imgLimit {
                        width: 90%;
                        height: 90%;
                        overflow: hidden;
                        @include dfc;

                        img {
                            width: 100%;
                            overflow: hidden;
                        }
                    }
                }

                &.animated {
                    gap: 1.5rem;
                    transform: translateY(0rem);
                }
            }
        }
    }
}

@include laptop {
    .container {
        padding-top: 3rem;

        .outline {
            width: 90%;

            .contentWrap {
                .cardsWrap {
                    transform: translateY(4rem);
                    gap: 2rem;

                    .card {
                        height: 16rem;
                    }

                    &.animated {
                        gap: 2rem;
                    }
                }
            }
        }
    }
}

@include tablet {
    .container {
        .outline {
            .contentWrap {
                padding: 1.5rem 2rem 2rem 2rem;

                h1 {
                    font-size: $font-size-22;
                }

                .caption {
                    font-size: $font-size-18;
                    padding: 1rem 0 1.5rem 0;
                }

                .cardsWrap {
                    .card {
                        width: 47%;
                    }
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        padding-top: 4.5rem;
        background: $white;

        .outline {
            width: 100%;

            .contentWrap {
                h1 {
                    span {
                        display: none;
                    }
                }

                .caption {
                    display: block;
                }

                .cardsWrap {
                    .card {
                        width: 100%;
                        padding: 1.5rem;
                        height: auto;

                        .imgLimit {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}