@import "/src/styles/main";

.container {
    padding-top: 3.5rem;

    @supports (background-image: image-set(url("/works_faq/scattered_forms_1792.webp") type("image/webp"))) {
        background-image: image-set(url("/works_faq/scattered_forms_1792.webp") type("image/webp"),
                url("/works_faq/scattered_forms_1792.jpeg") type("image/jpeg"));
    }

    background-image: url("/works_faq/scattered_forms_1792.jpeg");

    background-size: contain;
    @include dfc;
    @include backgroundMask($backgroundColor: $white, $maskOpacity: 30%);
    overflow: hidden;

    .outline {
        max-width: 1200px;
        background-color: $white;
        border-radius: 10px;
        padding: 0.15rem;

        .contentWrap {
            @include whiteCard($pad: 2rem, $borderRad: 15px);

            h1 {
                text-align: center;
                font-size: $font-size-24;


                span {
                    @include verticalBlueDecoration;
                }
            }

            .caption {
                font-size: $font-size-20;
                text-align: center;
                padding: 1.5rem 0;
                @include dfc;

                a {
                    color: $blue;
                    @include dfc;
                    margin-left: 0.5em;

                    svg {
                        margin-left: 0.5em
                    }
                }
            }

            .cardsWrap {
                @include dfc;
                gap: 2rem;
                flex-wrap: wrap;
                @include transitionSlideUp(5rem);
            }
        }
    }
}

@include laptop {
    .container {
        padding-top: 3rem;

        .outline {
            width: 90%;
        }
    }
}

@include lowLaptop {
    .container {
        @supports (background-image: image-set(url("/works_faq/scattered_forms_1280.webp") type("image/webp"))) {
            background-image: image-set(url("/works_faq/scattered_forms_1280.webp") type("image/webp"),
                    url("/works_faq/scattered_forms_1280.jpeg") type("image/jpeg"));
        }

        background-image: url("/works_faq/scattered_forms_1280.jpeg");
    }
}

@include tablet {
    .container {
        .outline {
            .contentWrap {
                padding: 1.5rem 2rem 2rem 2rem;

                h1 {
                    font-size: $font-size-22;
                }

                .caption {
                    font-size: $font-size-18;
                    padding: 1rem 0 1.5rem 0;
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        padding-top: 4.5rem;
        background: $white;

        .outline {
            width: 100%;

            .contentWrap {
                h1 {
                    span {
                        display: none;
                    }
                }

                .caption {
                    display: block;
                }

                .cardsWrap {
                    @include noTransition;
                }
            }
        }
    }
}