@import "../../../styles/main";

.container {
    flex-shrink: 0;
    @include dfc;
    gap: 0.3rem;

    button {
        background-color: $white;
        width: 4rem;
        height: 2rem;
        border-radius: 20px;
        box-shadow: $shadow-white-in-strong;
        position: relative;
        cursor: pointer;

        .switch {
            background-color: $white;
            height: 1.7rem;
            width: 1.7rem;
            border-radius: 50%;
            transform: translateX(0.2rem);
            transition: all 0.3s ease-in;
            position: relative;
            z-index: 1;
            @include dfc;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -2px 0px inset;

            img {
                width: 1.2rem;
                height: 1.2rem;
            }

            &.right {
                transform: translateX(2rem);
            }
        }

        .background {
            background-color: transparent;
            width: 4rem;
            height: 1.3rem;
            position: absolute;
            top: 0.35rem;
            display: flex;
            justify-content: space-evenly;
            filter: grayscale(90%);
        }
    }

    .caption {
        font-family: $font-family-main;
        font-weight: 600;


        &.s {
            font-size: $font-size-14;
        }

        &.m {
            font-size: $font-size-18;
        }

        &.l {
            font-size: $font-size-22;
        }
    }
}