@import "/src/styles/main";

.container {
    border-bottom: 1px solid white;

    .limit {
        padding: 1.5rem 0;
        max-width: $content-width-main;
        margin: 0 auto;

        h1 {
            font-family: $font-family-logo;
            line-height: 1;
            font-size: $font-size-70;
            margin: 0 0 0 7%;
            text-shadow: $text-shadow-outline-1;
        }

        p {
            font-size: $font-size-24;
            font-weight: 900;
            margin: 0 0 0 14%;
            color: $blue;
            text-shadow: $text-shadow-outline-1;
        }
    }
}

@include laptop {
    .container {
        .limit {
            h1 {
                font-size: $font-size-50;
            }

            p {
                font-size: $font-size-16;
            }
        }
    }
}

@include lowLaptop {
    .container {
        .limit {
            h1 {
                font-size: $font-size-40;
            }

            p {
                font-size: $font-size-14;
            }
        }
    }
}

@include lowTablet {
    .container {
        .limit {
            h1 {
                margin: 0 0 0.3rem 0;
                text-align: center;
            }

            p {
                margin: 0 1rem;
                text-align: center;
                font-size: $font-size-16;
            }
        }
    }
}