// ANIMATIONS

@mixin animationFloatingClockwise {
    @keyframes floatClockwise {
        0% {
            transform: translate(0.7rem, 0);
        }

        25% {
            transform: translate(0, 0.7rem);
        }

        50% {
            transform: translate(-0.7rem, 0);
        }

        75% {
            transform: translate(0, -0.7rem);
        }

        100% {
            transform: translate(0.7rem, 0);
        }

        ;
    }

    animation: floatClockwise 18s infinite linear;
}

@mixin animationFloatingCounterClockwise {
    @keyframes floatCounterClockwise {
        0% {
            transform: translate(0.7rem, 0);
        }

        25% {
            transform: translate(0, -0.7rem);
        }

        50% {
            transform: translate(-0.7rem, 0);
        }

        75% {
            transform: translate(0, 0.7rem);
        }

        100% {
            transform: translate(0.7rem, 0);
        }

        ;
    }

    animation: floatCounterClockwise 18s infinite linear;
}

@mixin animationFadeAway {
    @keyframes fadeAway {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

        ;
    }

    animation: fadeAway 4s linear;
}

@mixin animationSlideCenterToLeft {
    @keyframes slideCenterToLeft {
        0% {
            transform: translateX(0%);
        }



        100% {
            transform: translateX(100%);
        }

        ;
    }

    animation: slideCenterToLeft 0.5s linear;
    transform: translateX(100%);
}

@mixin animationSlideCenterToRight {
    @keyframes slideCenterToRight {
        0% {
            transform: translateX(100%);
        }



        100% {
            transform: translateX(0%);
        }

        ;
    }

    animation: slideCenterToRight 0.5s linear;
    transform: translateX(0);
}

@mixin animationSlideLeftToCenter {
    @keyframes slideLeftToCenter {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0%);
        }

        ;
    }

    animation: slideLeftToCenter 1s ease-in-out;
    transform: translateX(0);
}

@mixin animationSlideTopToCenter {
    @keyframes slideTopToCenter {
        0% {
            transform: translateY(-50%);
        }

        100% {
            transform: translateY(0%);
        }

        ;
    }

    animation: slideTopToCenter 1s ease-in-out;
    transform: translateX(0);
}



// TRANSITIONS

@mixin transitionSlideRight ($percent: 50%, $speed: 1s) {
    transform: translateX(-$percent);
    transition: transform $speed ease-in-out;

    &.animated {
        transform: translateX(0);
    }
}

@mixin transitionSlideLeft ($percent: 50%, $speed: 1s) {
    transform: translateX($percent);
    transition: transform $speed ease-in-out;

    &.animated {
        transform: translateX(0);
    }
}

@mixin transitionSlideDown ($percent: 50%, $speed: 1s) {
    transform: translateY(-$percent);
    transition: transform $speed ease-in-out;

    &.animated {
        transform: translateY(0);
    }
}

@mixin transitionSlideUp ($percent: 50%, $speed: 1s) {
    transform: translateY($percent);
    transition: transform $speed ease-in-out;

    &.animated {
        transform: translateY(0);
    }
}

@mixin transitionScaleUp ($percent: 10%, $speed: 1s) {
    transform: scale($percent);
    transition: transform $speed ease-in-out;

    &.animated {
        transform: scale(100%);
    }
}

@mixin noTransition {
    transform: none;
    transition: none;

    &.animated {
        transform: none;
    }
}