@mixin animationFloatingClockwise {
    @keyframes floatClockwise {
        0% {
            transform: translate(0.7rem, 0);
        }

        25% {
            transform: translate(0, 0.7rem);
        }

        50% {
            transform: translate(-0.7rem, 0);
        }

        75% {
            transform: translate(0, -0.7rem);
        }

        100% {
            transform: translate(0.7rem, 0);
        }

        ;
    }

    animation: floatClockwise 18s infinite linear;
}

@mixin animationFloatingCounterClockwise {
    @keyframes floatCounterClockwise {
        0% {
            transform: translate(0.7rem, 0);
        }

        25% {
            transform: translate(0, -0.7rem);
        }

        50% {
            transform: translate(-0.7rem, 0);
        }

        75% {
            transform: translate(0, 0.7rem);
        }

        100% {
            transform: translate(0.7rem, 0);
        }

        ;
    }

    animation: floatCounterClockwise 18s infinite linear;
}

@mixin animationFadeAway {
    @keyframes fadeAway {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

        ;
    }

    animation: fadeAway 4s linear;
}