// @font-face {
//     font-family: 'Teko Medium';
//     src:
//         url('../../public/fonts/Teko Medium.woff') format('woff'),
// }


// @font-face {
//     font-family: 'Onest Medium';
//     src: url('../../public/fonts/Onest-Medium.ttf') format('truetype'),
// }


// @font-face {
//     font-family: 'Pricedown BI';
//     src: url('../../public/fonts/PricedownBl-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+0020-2212;
// }


@font-face {
    font-family: 'Onest';
    src: url('/fonts/Onest-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('/fonts/Teko-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pricedown Bl';
    src: url('/fonts/PricedownBl-Regular.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


//fonts
$font-family-main: "Onest", sans-serif;
$font-family-logo: "Teko", sans-serif;
$font-family-fancy: 'Pricedown Bl', sans-serif;


//font sizes
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-70: 4.375rem;