@mixin dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin horizontalSeparator {
    background-color: #e0e0e0;
    height: 3px;
    box-shadow: 0 1px 0 0 #ffffff;
}

@mixin verticalSeparator {
    background-color: #e0e0e0;
    width: 3px;
    box-shadow: 1px 0 0 #ffffff;
}

@mixin blueBackgroundRounded ($padTop: 0.4em, $padRight: 1em, $padBottom: 0.4em, $padLeft: 1em) {
    background-color: $blue;
    color: white;
    padding: $padTop $padRight $padBottom $padLeft;
    border-radius: 10px;
}

@mixin blueBorderRounded ($padTop: 0.4em, $padRight: 1em, $padBottom: 0.4em, $padLeft: 1em, $thickness: 1px) {
    border: $thickness solid $blue;
    padding: $padTop $padRight $padBottom $padLeft;
    border-radius: 10px;
}