@mixin dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin horizontalSeparator {
    background-color: #e0e0e0;
    height: 3px;
    box-shadow: 0 1px 0 0 #ffffff;
}

@mixin verticalSeparator {
    background-color: #e0e0e0;
    width: 3px;
    box-shadow: 1px 0 0 #ffffff;
}

@mixin whiteCard ($pad: 1rem, $borderRad: 10px) {
    border-radius: $borderRad;
    box-shadow: $shadow-white-out;
    background-color: $white;
    padding: $pad;
}

@mixin blueCard ($pad: 1rem, $borderRad: 10px) {
    border-radius: $borderRad;
    box-shadow: $shadow-blue-out;
    background-color: $blue;
    padding: $pad;
}

@mixin verticalBlueDecoration {
    color: $blue;
    margin: 0 1.5em;
}

@mixin backgroundMask($backgroundColor, $maskOpacity) {
    isolation: isolate;
    position: relative;

    //background opacity overlay
    &::after {
        content: " ";
        filter: opacity($maskOpacity);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $backgroundColor;
    }
}

@mixin blueBackgroundRounded ($padTop: 0.4em, $padRight: 1em, $padBottom: 0.4em, $padLeft: 1em) {
    background-color: $blue;
    color: white;
    padding: $padTop $padRight $padBottom $padLeft;
    border-radius: 10px;
}

@mixin blueBorderRounded ($padTop: 0.4em, $padRight: 1em, $padBottom: 0.4em, $padLeft: 1em, $borderThickness: 1px) {
    border: $borderThickness solid $blue;
    padding: $padTop $padRight $padBottom $padLeft;
    border-radius: 10px;
}