@import "../styles/main.scss";

@layer reset {

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {

    min-height: 100vh;
    padding: 0;
  }


  /* Remove list styles on ul elements with a list role, which suggests default styling will be removed */
  ul {
    list-style: none;

    padding: 0;
  }



  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li,
  figcaption {
    text-wrap: pretty;
  }

  a[class] {
    text-decoration: none;
    color: currentColor;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }



  /* Make images easier to work with */
  img,
  picture {
    // max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  abbr[title] {
    text-decoration: none;
  }



  input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    // -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
  }

  input[type="search"] {
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }


  /* input,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
}
input {
  appearance: none;
} */
}