@import "../styles/main.scss";

@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {

    min-height: 100vh;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  p,
  li,
  figcaption {
    text-wrap: pretty;
  }

  a[class] {
    text-decoration: none;
    color: currentColor;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  img,
  picture {
    display: block;
  }


  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  abbr[title] {
    text-decoration: none;
  }

  input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    appearance: none;
    outline: none;
    border-radius: 0;
  }

  input[type="search"] {
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

}