//colors
$black: #303841;
$grey: #3a4750;
$blue: #00adb5;
$light-blue: #60d2d8;
$white: #eeeeee;


// box-shadow
$shadow-white-out: -3px -3px 4px 0 rgba(255, 255, 255, 0.7),
    3px 3px 4px 0 rgba(80, 80, 80, 0.1);
$shadow-white-in: inset -3px -3px 4px 0 rgba(255, 255, 255, 0.7),
    inset 3px 3px 4px 0 rgba(80, 80, 80, 0.1);
$shadow-white-in-strong: inset -3px -3px 4px 0 rgba(255, 255, 255),
    inset 3px 3px 4px 0 rgba(80, 80, 80, 0.4);
$shadow-blue-out: -3px -3px 4px 0 rgba(255, 255, 255, 0.5),
    3px 3px 4px 0 rgba(0, 70, 75, 0.2);
$shadow-button: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


//text-shadow
$text-shadow-outline-1: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
$text-shadow-outline-2: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;


$content-width-main: 1300px;