@import "../../../styles/main";

.container {
    color: $white;

    .contentLimit {
        max-width: $content-width;
        margin: 0 auto;
        position: relative;
    }

    .mainHeader {
        padding: 1.5rem;
        background: rgb(12, 19, 25);
        background: linear-gradient(90deg, rgba(12, 19, 25, 1) 0%,
                rgba(12, 19, 25, 1) 16%,
                rgba(51, 61, 70, 1) 33%,
                rgba(67, 86, 93, 1) 45%,
                rgba(35, 50, 57, 1) 75%,
                rgba(16, 21, 27, 1) 100%);
        border-bottom: 1px solid white;

        h1 {
            font-family: $font-family-logo;
            line-height: 1;
            font-size: $font-size-70;
            margin: 0 0 0 10%;
            text-shadow: $text-shadow-1;
        }

        p {
            font-size: $font-size-26;
            font-weight: 900;
            margin: 0 0 0 17%;
            color: $blue;
            text-shadow: $text-shadow-1;
            font-family: $font-family-mono;
        }
    }

    .illustration {
        width: 100%;
    }

    .contentLimit .introList {
        max-width: 22rem;
        z-index: 1;
        position: absolute;
        top: 2rem;
        left: 13%;
        padding: 1.5em;
        border: 1px solid $white;
        border-radius: 10px;
        font-size: $font-size-18;
        display: flex;
        flex-direction: column;
        gap: 1em;
        transform: translateX(-40%);
        // left: 4rem;
        transition: transform 0.5s ease-in-out;

        li {
            line-height: 1.3;
            position: relative;
            padding-left: 1.7em;
            font-family: $font-family-mono;

            &::before {
                content: ' ';
                background-image: url("/icons/polygon-icon.png");
                position: absolute;
                height: 1em;
                width: 1em;
                left: 0rem;
                top: 0.3rem;
                background-size: contain;
            }
        }

        &.animated {
            // @include animationSlideFromLeft(-4rem, 0)
            transform: translateX(0rem);
        }
    }
}