@import "../../../styles/main";

.container {
    background-color: $white;
    padding: 0.1rem;
    border-radius: 5px;
    overflow: hidden;

    .linksWrap {
        // padding: 1em;
        // box-shadow: $shadow-white-out;
        // border-radius: 5px;
        @include whiteCard($pad: 1em, $borderRad: 5px);

        .link {
            cursor: pointer;
            transition: color 0.2s linear;
            text-align: center;
            display: block;
            position: relative;
            font-weight: 600;

            &+.link {
                padding-top: 1.5em;
            }

            &+.link:before {
                content: " ";
                @include horizontalSeparator;
                position: absolute;
                width: 100%;
                top: 0.75em;
                left: 0;
            }

            &:hover {
                color: $blue;
            }
        }
    }
}