@import "/src/styles/main";

.container {
    background-color: $white;
    max-width: $content-width-main;
    margin: 0 auto;

    h2 {
        padding: 0 1rem 0.5rem 1rem;
        font-weight: 900;
        text-align: center;
        font-size: $font-size-24;

        span {
            @include verticalBlueDecoration;
        }
    }

    .descriptionList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;

        li {
            list-style: none;
            position: relative;
            margin-left: 3rem;
            display: flex;
            align-items: center;


            &::before {
                content: ' ';
                background-image: var(--icon-url);
                position: absolute;
                height: 1.5em;
                width: 1.5em;
                left: -2.2rem;
                background-size: contain;
                background-repeat: no-repeat;
                transform: scale(10%);
                transition: transform 1.2s linear;
            }

            p {
                font-size: $font-size-16;
            }
        }

        &.isAnimated {
            li::before {
                transform: scale(100%);
            }
        }
    }
}

@include laptop {
    .container {
        h2 {
            font-size: $font-size-18;
        }

        .descriptionList {
            li {
                p {
                    font-size: $font-size-14;
                }
            }
        }
    }
}

@include tablet {
    .container {
        .descriptionList {
            li {
                p {
                    font-size: $font-size-16;
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        h2 {
            span {
                display: none;
            }
        }

        .descriptionList {
            display: flex;
            flex-direction: column;
            padding: 0.7rem;
        }
    }
}