@import "../../../styles/main";

.container {
    padding: 1rem 0;

    .mainHeader {
        margin-bottom: 1rem;
        position: relative;
        width: fit-content;
        padding: 0.5em 0;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 0%;
            border-bottom: 2px solid $light-blue;
            transition: width 0.9s ease-in;
            z-index: 1;
        }

        &::after {
            bottom: 0em;
        }

        &::before {
            top: 0em;
        }

        &.isAnimated {

            &::after,
            &::before {
                width: 100%;
            }
        }
    }

    .paragraph {
        font-size: $font-size-16;

        &+.paragraph {
            margin-top: 0.5em;
        }

        &+.card,
        &+.nestedListContainer {
            margin-top: 1em;
        }


    }

    .card {
        .listItem {
            font-size: $font-size-16;

            &+.listItem {
                margin-top: 0.4em;
            }

            .listIcon {
                margin-right: 0.5em;
            }
        }
    }

    .nestedListContainer {
        .nestedHeader {
            padding: 0 0 0.2em 2.3rem;
            position: relative;
            @include dfc;
            width: fit-content;

            &::before {
                content: ' ';
                background-image: var(--icon-url);
                position: absolute;
                height: 1em;
                width: 1em;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .nestedListItem {
            &+.nestedListItem {
                margin-top: 1em;
            }
        }
    }
}

// .container:has(>h1, >h2, >h3) {
//     .paragraph {
//         font-size: $font-size-18;
//     }

//     .card {
//         .listItem {
//             font-size: $font-size-18;
//         }
//     }
// }