@import "/src/styles/main";

.container {
    padding: 3rem 2rem;
    width: $content-width-L;
    max-width: 90%;
    margin: 0 auto;
    min-height: 95vh;
    position: relative;
    @include dfcc;
    gap: 2rem;

    .contactsHeader {
        margin: 0 auto;
        width: fit-content;

        h3 {
            font-size: $font-size-26 ;
            text-align: center;
            font-weight: 900;
            color: $blue;
        }

        p {
            font-size: $font-size-18;
            margin-top: 0.5rem;
            font-weight: 600;
            text-align: center;
        }
    }

    .contentWrap {
        display: grid;
        grid-template-columns: 55% 45%;
        margin: 2rem auto auto;
        position: relative;
        gap: 1.5rem;
        padding: 0 1rem;
        font-size: $font-size-16;

        .desktopIllustration {
            width: 100%;
            align-self: center;
        }

        .tabletIllustration {
            display: none;
        }

        .mobileIllustration {
            display: none;
        }

        .bubbleWrap {
            @include dfc;
            position: absolute;
            width: 9rem;
            top: -4.5rem;
            left: 1.5rem;
            transform: scale(10%);
            transition: transform 1s ease-in-out;

            img {
                width: 100%;
                filter: opacity(70%);
            }

            p {
                text-align: center;
                z-index: 1;
                position: absolute;
                top: 2.4rem;
                width: 60%;
                font-family: $font-family-fancy;
                color: $grey;
                font-size: $font-size-16;
            }

            &.isAnimated {
                transform: scale(100%);
            }
        }

        .contactsCard {
            align-self: center;
            @include whiteCard($pad: 2rem, $borderRad: 10px);

            .description {
                margin-bottom: 1.5rem;

                p {
                    margin-bottom: 0.5rem;
                }
            }

            .contactsList {
                .singleContactWrap {
                    margin-bottom: 1rem;
                    padding-left: 3rem;
                    display: flex;
                    align-items: center;
                    position: relative;

                    &::before {
                        content: ' ';
                        background-image: var(--icon-url);
                        position: absolute;
                        height: 1.5em;
                        width: 1.5em;
                        left: 0;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .contactTitle {
                        font-weight: 700;
                        margin-right: 0.5rem;
                    }

                    .link {
                        border-bottom: 2px solid $blue;
                        cursor: pointer;
                        color: $blue;
                    }
                }
            }

            .map {
                box-shadow: $shadow-white-in;
                margin-top: 1.5rem;
                border-radius: 10px;

                iframe {
                    width: 100%;
                    height: 18rem;
                    border: none;
                    padding: 1rem;
                }
            }
        }

        .socialMediaHeader {
            font-weight: 600;
            margin: 1.5rem 0;
        }

        .socialMediaList {
            .socialMediaLink {
                @include dfc;
                width: fit-content;
                padding: 0.5em;
                cursor: pointer;
                transition: color 0.1s linear;
                border-radius: 5px;
                box-shadow: $shadow-button;

                &:hover {
                    color: $blue;
                }

                .mediaIcon {
                    margin-right: 0.5rem;
                    height: 1em;
                }
            }
        }
    }
}

@include laptop {
    .container {
        min-height: auto;
        max-width: 100%;
        display: block;

        .contactsHeader {
            h3 {
                font-size: $font-size-20 ;
            }

            p {
                font-size: $font-size-16;
            }
        }

        .contentWrap {
            gap: 0;
            font-size: $font-size-14;
            width: 100%;
            @include dfc;

            .desktopIllustration {
                display: none;
            }

            .tabletIllustration {
                width: 20rem;
                display: block;
                opacity: .7;
            }

            .bubbleWrap {
                display: none;
            }

            .contactsCard {
                width: 50%;

                .map {
                    iframe {
                        height: 14rem;
                    }
                }
            }
        }
    }
}

@include tablet {
    .container {
        .contentWrap {
            .contactsCard {
                width: 100%;
            }
        }
    }
}

@include lowTablet {
    .container {
        padding: 2rem 1rem;

        .contactsHeader {
            h3 {
                font-size: $font-size-18 ;
            }
        }

        .contentWrap {
            font-size: $font-size-16;
            @include dfcc;
            flex-direction: column-reverse;

            .tabletIllustration {
                display: none;
            }

            .mobileIllustration {
                display: block;
                width: 17rem;
                margin-top: 2rem;
            }

            .contactsCard {
                width: 100%;
            }
        }
    }
}

@include mobile {
    .container {
        padding: 2rem 0.5rem;
    }
}