@import "/src/styles/main";

.container {
    background-color: $white;
    background-image: url("/services/horizontal-blue-wave.png");
    background-size: cover;
    padding: 2rem 0 5rem 0;

    .cardBorder {
        background-color: $white;
        width: 45rem;
        border: 1px solid $blue;
        padding: 2em;
        margin: 0 auto;

        .servicesNavigation {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include whiteCard($pad: 0, $borderRad: 10px);

            .link {
                padding: 1.5em;
                @include dfcc;
                color: $blue;

                img {
                    width: 85%;
                    height: 85%;
                    filter: grayscale(100%);
                    transition: filter 0.3s ease-in;
                }

                .caption {
                    font-size: $font-size-18;
                    margin-top: 0.7rem;
                    @include dfc;
                    text-decoration: underline;
                    transition: filter 0.2s linear;

                    svg {
                        margin-left: 0.5rem;
                    }
                }

                &:hover {
                    img {
                        filter: grayscale(0%);
                    }

                    .caption {
                        filter: brightness(110%);
                    }
                }
            }
        }

        .horizontalSeparator {
            @include horizontalSeparator;
            width: 100%;
            top: 49%;
            position: absolute;
        }

        .verticalSeparator {
            @include verticalSeparator;
            left: 50%;
            height: 100%;
            position: absolute;
        }
    }
}

@include laptop {
    .container {
        padding: 0 0 1.5rem 0;

        .cardBorder {
            width: 30rem;
            padding: 1.7em;

            .servicesNavigation {
                .link {
                    .caption {
                        font-size: $font-size-16;
                    }
                }
            }
        }
    }
}

@include tablet {
    .container {
        .cardBorder {
            width: 80%;

            .servicesNavigation {
                .link {
                    img {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        .cardBorder {
            width: 95%;
            border: 0;
            padding: 0.3rem;
        }
    }
}

@include mobile {
    .container {
        .cardBorder {
            width: 90%;

            .servicesNavigation {
                display: flex;
                flex-direction: column;

                .link {
                    position: relative;
                    padding: 1.5em;

                    &+.link::after {
                        @include horizontalSeparator;
                        width: 100%;
                        top: -0.5rem;
                        position: absolute;
                        content: "";
                    }

                    img {
                        width: 16rem;
                        height: 16rem;
                    }

                    .caption {
                        font-size: $font-size-20;
                    }
                }

                .verticalSeparator,
                .horizontalSeparator {
                    display: none;
                }
            }
        }
    }
}