@import "/src/styles/main";

.container {
    background-color: $white;
    background-image: url("/services/horizontal-blue-wave.png");
    background-size: cover;
    padding: 3rem 0;
    min-height: 100vh;
    @include dfcc;
    gap: 2rem;
    overflow: hidden;

    .cardBorder {
        background-color: $white;
        width: 45rem;
        border: 1px solid $blue;
        padding: 2rem;
        margin: 0 auto;

        .servicesNavigation {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include whiteCard($pad: 0, $borderRad: 10px);
            @include transitionSlideLeft(25%);
        }

        .horizontalSeparator {
            @include horizontalSeparator;
            width: 100%;
            top: 49%;
            position: absolute;
        }

        .verticalSeparator {
            @include verticalSeparator;
            left: 50%;
            height: 100%;
            position: absolute;
        }
    }
}

@include laptop {
    .container {
        gap: 1rem;
        min-height: auto;

        .cardBorder {
            width: 30rem;
            padding: 1.5rem;
        }
    }
}

@include tablet {
    .container {
        background: $white;
        padding: 2rem 0;

        .cardBorder {
            width: 60%;
        }
    }
}

@include lowTablet {
    .container {
        .cardBorder {
            width: 95%;
            border: 0;
            padding: 0.5rem;
        }
    }
}

@include mobile {
    .container {
        .cardBorder {
            width: fit-content;

            .servicesNavigation {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                box-shadow: none;

                &.animated {
                    transform: translate(0);
                }

                .verticalSeparator,
                .horizontalSeparator {
                    display: none;
                }
            }
        }
    }
}