@import "../../../styles/main";

.container {
    background-color: $white;
    background-image: url("/services/horizontal-blue-wave.png");
    background-size: cover;
    padding: 2rem 0 5rem 0;

    .cardBorder {
        background-color: $white;
        width: 45rem;
        max-width: 90%;
        border: 1px solid $blue;
        padding: 2em;
        margin: 0 auto;

        .servicesNavigation {
            box-shadow: $shadow-white-out;
            position: relative;
            border-radius: 15px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

            .link {
                padding: 1.5em;
                @include dfcc;
                color: $blue;

                img {
                    width: 85%;
                    height: 85%;
                    filter: grayscale(100%);
                    transition: filter 0.3s ease-in;
                }

                h3 {
                    font-size: $font-size-18;
                    margin-top: 0.7rem;
                    @include dfc;
                    text-decoration: underline;

                    svg {
                        margin-left: 0.5rem;
                    }
                }

                &:hover {
                    img {
                        filter: grayscale(0%);
                    }
                }
            }

            .horizontalSeparator {
                @include horizontalSeparator;
                width: 100%;
                top: 49%;
                position: absolute;
            }

            .verticalSeparator {
                @include verticalSeparator;
                left: 50%;
                height: 100%;
                position: absolute;
            }
        }
    }
}