@import "../../../styles/main";

.container {
    border-left: 1px solid $white;
    padding-left: 1rem;

    .header {
        padding: 0 0 0.5em 2.3rem;
        position: relative;
        @include dfc;
        width: fit-content;

        &::before {
            content: ' ';
            background-image: var(--icon-url);
            position: absolute;
            height: 1em;
            width: 1em;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .paragraph {
        font-size: $font-size-16;

        &+.paragraph {
            margin-top: 0.5em;

        }

        &+.card {
            margin-top: 1em;

        }

    }

    .card {
        li {
            font-size: $font-size-16;

            &+li {
                margin-top: 0.2em;
            }
        }


    }
}

.container+.container {
    margin-top: 1rem;
}

.container:has(>h1, >h2, >h3) {
    .paragraph {
        font-size: $font-size-18;
    }

    .card {
        li {
            font-size: $font-size-18;
        }
    }
}