@import "../../../styles/main";

.shadowWrapper {
    background-color: $white;
    padding: 0.2rem;
    border-radius: 5px;

    .container {
        box-shadow: $shadow-white-out;
        padding: 1.5rem;
        border-radius: 5px;
        @include dfcc;
        gap: 2rem;


        .navlink {
            font-size: $font-size-22;
        }
    }
}