@import "../../../styles/main";

.container {
    background-color: $grey;
    color: $white;
    padding: 3rem 0;
    background-image: url("/marketing/chess.jpeg");
    background-size: cover;
    @include dfc;
    min-height: 95vh;
    border-bottom: 2px solid $blue;
    border-top: 2px solid $blue;
    @include backgroundMask($backgroundColor: $grey, $maskOpacity: 70%);

    .statementsList {
        margin: 0 auto;


        .statementCard {
            background-color: $black;
            padding: 1.5rem 3rem;
            border: 2px solid $white;
            border-radius: 70px;
            margin: 0 auto;
            width: 45rem;
            position: relative;
            transition: transform 0.5s linear;

            .statementIllustration {
                height: 8em;
                position: absolute;
                top: -0.5rem;
            }

            .question {
                font-weight: 900;
                margin: 0 0 0.5rem 0;
                font-family: $font-family-mono;
                font-size: $font-size-18;
            }

            .answer {


                mark {
                    color: $blue;
                    background-color: transparent;
                }
            }

            &:nth-child(odd) {
                transform: translateX(-30%);

                img {
                    right: -22%;
                    @include animationFloatingCounterClockwise;
                }
            }

            &:nth-child(even) {
                transform: translateX(30%);

                img {
                    left: -22%;
                    @include animationFloatingClockwise;
                }
            }

            &+.statementCard {
                margin-top: 2rem;
            }
        }

        &.isAnimated {
            .statementCard {
                &:nth-child(odd) {
                    transform: translateX(-15%);


                }

                &:nth-child(even) {
                    transform: translateX(15%);


                }
            }
        }
    }
}