@import "/src/styles/main";

.container {
    background-color: $grey;
    color: $white;
    padding: 3rem 0;
    background-image: url("/marketing/chess.jpeg");
    background-size: cover;
    @include dfcc;
    border-bottom: 2px solid $blue;
    border-top: 2px solid $blue;
    @include backgroundMask($backgroundColor: $grey, $maskOpacity: 70%);
    overflow: hidden;
    min-height: 100vh;

    .statementsList {
        margin: 0 auto;
        width: $content-width-main;
        padding: 0.5rem;
        @include dfcc;
        gap: 3rem;

        .statementCard {
            background-color: $black;
            padding: 1.5rem 3rem;
            border: 2px solid $white;
            border-radius: 70px;
            margin: 0 auto;
            width: 60%;
            position: relative;
            transition: transform 1s ease-in-out;

            .statementIllustration {
                height: 8rem;
                position: absolute;
                top: -0.5rem;
            }

            .question {
                font-weight: 900;
                margin: 0 0 0.5rem 0;
                font-size: $font-size-18;
                color: $light-blue;
            }

            .answer {
                font-size: $font-size-16;
            }

            &:nth-child(odd) {
                transform: translateX(-30%);

                img {
                    right: -22%;
                    @include animationFloatingCounterClockwise;
                }
            }

            &:nth-child(even) {
                transform: translateX(30%);

                img {
                    left: -22%;
                    @include animationFloatingClockwise;
                }
            }
        }

        &.animated {
            .statementCard {
                &:nth-child(odd) {
                    transform: translateX(-15%);
                }

                &:nth-child(even) {
                    transform: translateX(15%);
                }
            }
        }
    }

    .mobileMarquee {
        display: none;
    }
}

@include laptop {
    .container {
        min-height: auto;

        .statementsList {
            width: 1200px;
            gap: 2rem;

            .statementCard {
                padding: 1rem 2rem;

                .statementIllustration {
                    height: 6rem;
                }

                .question {
                    font-size: $font-size-16;
                }

                .answer {
                    font-size: $font-size-14;

                }
            }
        }
    }
}


@include lowLaptop {
    .container {
        .statementsList {
            width: 100%;
        }
    }
}

@include tablet {
    .container {
        padding: 2rem 0;

        .statementsList {
            width: 90%;

            .statementCard {
                width: 100%;
                display: flex;
                align-items: center;

                .statementIllustration {
                    position: static;
                    margin: 0 2rem;
                }

                .question {
                    font-size: $font-size-18;
                }

                .answer {
                    font-size: $font-size-16;
                }
            }

            &.animated {
                .statementCard {

                    &:nth-child(odd),
                    &:nth-child(even) {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        .statementsList {
            width: 95%;

            .statementCard {
                border-radius: 40px;

                .statementIllustration {
                    display: none;
                }
            }
        }

        .mobileMarquee {
            display: block;
            width: 100%;
            padding: 0 0 2rem 0;
        }
    }
}