@import "../../../styles/main";

.container {
    background-color: $grey;
    color: $white;
    padding: 3rem 0;
    position: relative;
    background-image: url("/marketing/chess.jpeg");
    background-size: cover;
    isolation: isolate;
    @include dfc;
    min-height: 100vh;
    border-bottom: 2px solid $blue;
    border-top: 2px solid $blue;

    //background opacity overlay
    &::after {
        content: " ";
        filter: opacity(70%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $grey;
    }

    .statementsList {
        margin: 0 auto;

        .statementCard {
            background-color: $black;
            padding: 1.5rem 3rem;
            border: 3px solid $blue;
            border-radius: 70px;
            margin: 0 auto;
            width: 45rem;
            position: relative;
            transition: transform 0.5s linear;

            .statementIllustration {
                height: 8em;
                position: absolute;
                top: -0.5rem;
            }

            .question {
                font-weight: 900;
                margin: 0 0 1rem 0;
                font-family: $font-family-mono;
                font-size: $font-size-18;
            }

            .answer {
                font-size: $font-size-16;

                mark {
                    color: $blue;
                    background-color: transparent;
                }
            }

            &:nth-child(odd) {
                transform: translateX(-30%);

                img {
                    right: -22%;
                    @include floatingAnimationCounterClockwise
                }
            }

            &:nth-child(even) {
                transform: translateX(30%);

                img {
                    left: -22%;
                    @include floatingAnimationClockwise
                }
            }

            &+.statementCard {
                margin-top: 3rem;
            }
        }

        &.isAnimated {
            .statementCard {
                &:nth-child(odd) {
                    transform: translateX(-15%);


                }

                &:nth-child(even) {
                    transform: translateX(15%);


                }
            }
        }
    }
}