@import "../../../styles/main";

.container {
    background-color: $white;
    max-width: $content-width;
    margin: 3rem auto 2rem auto;

    .mainHeader {
        // font-size: $font-size-24;
        font-family: $font-family-mono;
        margin: 3rem auto;
        width: fit-content;
        font-weight: 900;

        span {
            color: $blue;
            margin: 0 1rem;
        }
    }

    .descriptionList {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 1.5rem;

        li {
            font-size: $font-size-16;
            list-style: none;
            align-self: center;
            position: relative;
            margin-left: 3rem;
            display: flex;
            align-items: center;

            &::before {
                content: ' ';
                background-image: var(--icon-url);
                position: absolute;
                height: 1.5em;
                width: 1.5em;
                left: -2.2rem;
                background-size: contain;
                background-repeat: no-repeat;
                transform: scale(10%);
                transition: transform 0.7s linear;
            }
        }

        &.isAnimated {
            li::before {
                transform: scale(100%);
            }
        }
    }
}