@import "/src/styles/main";

.container {
    background-color: $white;
    max-width: $content-width;
    margin: 2rem auto;

    .mainHeader {
        margin: 0 auto;
        padding: 1rem 0;
        width: fit-content;
        font-weight: 900;

        span {
            @include verticalBlueDecoration;
        }
    }

    .descriptionList {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 1.5rem;
        padding: 1rem;

        li {
            list-style: none;
            align-self: center;
            position: relative;
            margin-left: 3rem;
            display: flex;
            align-items: center;

            &::before {
                content: ' ';
                background-image: var(--icon-url);
                position: absolute;
                height: 1.5em;
                width: 1.5em;
                left: -2.2rem;
                background-size: contain;
                background-repeat: no-repeat;
                transform: scale(10%);
                transition: transform 1.2s linear;
            }
        }

        &.isAnimated {
            li::before {
                transform: scale(100%);
            }
        }
    }
}

@include laptop {
    .container {
        margin: 1rem auto;

        .mainHeader {
            font-size: $font-size-20;
            padding: 0.5rem 0;
        }

        .descriptionList {
            gap: 1rem;
            font-size: $font-size-14;
        }
    }
}

@include tablet {
    .container {

        .mainHeader {
            font-size: $font-size-18;
        }

        .descriptionList {
            font-size: $font-size-16;
        }
    }
}

@include lowTablet {
    .container {
        margin: 0.5rem auto;

        .mainHeader {
            padding: 0.5rem;
            text-wrap-style: stable;
            text-align: center;

            span {
                display: none;
            }

        }

        .descriptionList {
            font-size: $font-size-16;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
        }
    }
}